@model IEnumerable<MyEvernote.Entities.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDraft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDraft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUserName)
        </td>
        <td>

            <button type="button" class="btn btn-success btn-xs" data-target="#modal_comment" data-toggle="modal" data-nodeid="@item.Id">
                <span class="glyphicon glyphicon-comment" ></span>
            </button>

            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>



<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
@*    <button type="button" class="btn btn-success btn-xs" data-target="#modal_comment" data-toggle="modal">  -->modal_comment parametreleri aynı *@
@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
<script src="~/js/comment.js"></script>